.notes {
  background-color: white;
  border: 1px solid black;
  float: right;
  height: 60vh;
  margin-right: 8%;
  margin-top: 30px;
  overflow: scroll;
  width: 40vw;
}

textarea {
  border: none;
  font-size: 18px;
  height: 66px;
  padding-top: 10px;
  padding-left: 10px;
  width: 98.6%;
}

.note-button {
  border: 1px solid black;
  background-color: #b8b8b8;
  color: white;
  font-size: 18px;
  height: 30px;
  width: 100%;
}