.card {
  border: 1px solid black;
  margin-left: 8%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  width: 84%;
}

h2 {
  border-bottom: 1px solid black;
  color: black;
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
}

.card-p {
  color: black;
}

a {
  text-decoration: none;
 }